#FFnS_settingsDivContainer {
	display: none;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	z-index: 500;
	top: 0;
	left: 0;
	position: fixed;
}

#FFnS_settingsDiv {
	max-height: 400px; 
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 1%;
	border-radius: 25px;
	border: 2px solid #336699;
	background: #E0F5FF;
	padding: 2%;
	opacity: 1;
}

.FFnS_settings + .FFnS_settings {
	margin-top: 1%;
}

.FFnS_settings > :not(input):not(:first-child), #FFnS_tab_AdvancedControls > :not(input):not(:first-child) {
	margin-left: 2%;
}

.FFnS_settings_header {
	color: #333690;
}

.FFnS_settings span + input {
	vertical-align: middle;
}

.FFnS_settings select {
	margin-left: 2% 
}

.FFnS_input {
	font-size:12px;
	vertical-align: middle;
}

#FFnS_tabs_menu {
	height: 30px;
	clear: both;
	margin-top: 1%;
	margin-bottom: 0%;
	padding: 0px;
}
#FFnS_tabs_menu li {
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #d4d4d1;
}
#FFnS_tabs_menu li.current {
	background-color: #B9E0ED;
}
#FFnS_tabs_menu li a {
	padding: 10px;
	color: #2A687D;
}

#FFnS_tabs_content {
	padding: 1%;
}

.FFnS_Tab_Menu {
	display: none;
	width: 100%;
	max-height: 340px; 
	overflow-y: auto;
	overflow-x: hidden;
}
.FFnS_settings_span {
	display: inline; 
    vertical-align: middle;
}
.FFnS_icon { 
    vertical-align: middle;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.FFnS_keyword {
    vertical-align: middle;
    background-color: #35A5E2;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#FFnS_CloseSettingsBtn {
	float:right;
	width: 24px;
	height: 24px;
}

#FFnS_ImportMenu_Submit {
	margin-top: 1%;
}

#FFnS_MaxPeriod_Infos > input[type=number]{
    width: 5%;
	margin-left: 1%;
	margin-right: 1%;
}

#FFnS_AdvancedPeriod_minPopularity {
	width: 6%;
}

#FFnS_MaxPeriod_Infos {
	margin: 1% 0 2% 0;
}